
/* // MEDIA QUERIES // */

@media screen and (max-width: 1023px){
    /* -- Général -- */
    .container{
        /*padding: 0;*/
       /* padding-left: 1rem;;
        margin: -0.5rem;*/
    }
    header, .recherche, #hebergements, .populaires, #activites, .footer__conteneur{
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    /* -- En-tête -- */
   
    /* -- Recherhe -- */
    /* -- Recherche - Formulaire -- */
    .form__ico{
        width: 4rem;
        height: 2rem;
        padding-top: 1.15rem;
    }
    .form__field{
        padding-right: 2.5rem;
    }
    .form__field, .form__btn{
        height: 2.9rem;
    }
    .form__btn{
        width: 3.25rem;
        height: 3.12rem;
        border-radius: 1rem;
        margin-top: 0px;
        margin-left: -1.9rem;
        padding-top: 0.3rem;
    }
    #textsearch{
        display: none;
    }
    /* -- Recherche - Filtres -- */
    .filtre-ico{
        padding: 0.8rem 0.55rem 0.65rem 0.55rem;
        margin-left: -1rem;
        margin-right: 0.6rem;
    }
    .filtres li{
        height: 1.55rem;
        padding: 0.925rem 1rem 0.275rem 0.95rem;
        margin: 0 0.7rem 0.8rem 0;
    }
    /* -- Recherche - Nombre de résultats obtenus -- */
    /* -- Mise en forme d'une carte hébergement résultat -- */
    /* -- Mise en forme d'une carte pour hébergement populaire -- */
    /* -- Résultats de la recherche -- */
    #hebergements, .populaires, #activites{
        padding-top: 2.4rem;
      /*  border: 1px solid black;*/
    }
    .hebergements__conteneur{
        margin: 1.25rem 0rem 2rem 0rem;
    }
    .populaires__conteneur{
        margin: 1.5rem 0rem 2.25rem 0rem;
    }
    .plus{
        margin-bottom: 0.6rem;
    }
    /* -- Activités -- */ 
}

