/* // MEDIA QUERIES // */

@media screen and (min-width: 768px) and (max-width: 1023px){

    /* -- Général -- */
    /* -- En-tête -- */
    /* -- Recherhe -- */
    /* -- Recherche - Formulaire -- */
    .p__field{
        width: 50%;
    }
    /* -- Recherche - Filtres -- */
    /* -- Recherche - Nombre de résultats obtenus -- */
    /* -- Mise en forme d'une carte par défaut -- */
    .hebergements__conteneur .carte{
        width: 30%;
    }
    .carte__img{
        height: 7rem; /* !!!!Si problème de hauteur au niveau visuel, c'est cette hauteur qu'il faut changer */
    }
    /* -- Mise en forme d'une carte pour hébergement populaire -- */
    .carte--populaire{
        width: 31%;
        justify-content: stretch;
    }
    .carte--populaire .carte__img{
        width: 38.5%;
        height: 6.5rem;
        
    }
    .carte--populaire h3{
        height: 1.5rem;
        padding-top: 0.4rem;
        padding-bottom: 1rem;
    }
    .carte--populaire .carte__infos{
        width: 8rem;
        margin-left: 0.4rem;
        margin-right: 0.2rem;
    }
    /*.carte--populaire .carte__infos .tarif{
        white-space: nowrap;
    }
*/
    .carte--activite h3{
        line-height: 1.3rem;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        text-align: center;
    }
    .carte--activite img{
        border: none;
        height: 50%;
    }

    /* -- Résultats de la recherche -- */
    .resultats{
            flex-flow: wrap column;
            justify-content: flex-start;
    }
    #hebergements{
        order: 2;
    }
    .hebergements__conteneur{
        display: flex;
        flex-flow: wrap row;
        justify-content: space-around;
        gap: 1rem;
    }
    .populaires{
        order: 1;
    }
    .populaires__conteneur{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.5rem;
    }
    /* -- Activités -- */
    .activites__conteneur{
        margin: 1.8rem 0 3rem 0;
    }
    .activites__conteneur .carte--activite{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100.5%;
        height: 100%;
        margin: 0;
    }
    .carte--activite .carte__img{
        flex: 1;
    }
    .activites__conteneur{
        display: grid;
        grid-template: repeat(10, 1em) / repeat(4, 1fr);
        grid-gap: 1.5rem;
    }
    #one{
        grid-row: 1 / 11;
    }
    #two{
        grid-row: 1 / 7;
    }
    #three{
        grid-row: 7 / 11;
    }
    #four{
        grid-row: 1 / 11;
    }
    #five{
        grid-row: 1 / 6;
    }
    #six{
        grid-row: 6 / 11;
    }
    /* -- Pied-de-page -- */

    /* -- Pied-de-page -- */
}

