@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf');
    src: url('fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}
/* Ne fonctionne pas */

body{
    font-family: 'Raleway', Verdana, Tahoma, sans-serif;
    font-size: 0.8rem;
}

h2{
    font-size: 1rem;
}

aside, footer{
    background-color:#F2F2F2 ;
}

nav ul{
    display: flex;
    list-style-type: none;
    font-size: 0.9rem;
    padding-left: 0%;
}

nav li{
    width: 45%;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: #0065FC;
}
/* Il manque la bordure en bleue */


/* Recherche */

#filtres ul {
    display: flex;
    flex-wrap: wrap;
}





/*footer*/
footer{
    padding: 2rem 1.5rem 2.5rem 1.5rem
}

footer h3{
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
}

footer ul{
    list-style-type: none;
    padding-left: 0%;
}

footer li{
    margin-bottom: 0.8rem;
}

footer a{
    text-decoration: none;
    color: black;
}

footer div{
    margin-bottom: 30px;
}