/*@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf');
    src: url('fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}
*/

body{
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
}

a{
    text-decoration: none;
    color: black;
}

#logo img{
    width: 6rem;
    height: auto; /* garde le ration lors du redimensionnement de l'image */
}

aside, footer{
    background-color:#F2F2F2 ;
}

h2{
    font-weight: bold;
    font-size: 1.2rem;
}

.conteneur_head{
    display: flex;
    flex-wrap: wrap;
}
#logo{
    order: 1;
    width: 80%;
}
nav{
    order: 3;
    width: 100%;
}
#inscription{
    order: 1;
    width: 20%;
}

/*nav{
    align-self: flex-end;
}*/

nav ul{
    display: flex;
    list-style-type: none;
    font-size: 0.9rem;
    padding-left: 0%;
}

nav li{
    width: 45%;
    text-align: center;
}

nav a{
    display: block; /* Permet à la balise inline a de se comporter comme un block et notamment d'avoir des bordures */
    padding-bottom: 1rem;
    border-bottom: 0.2rem solid #FFFFFF;
}

nav a:hover{
    color: #0065FC;
    border-bottom: 0.2rem solid #0065FC;
}

#inscription a{
    color: #0065FC;
    font-weight: bold;
}

header h2{
    width: 90%;
}


/* Recherche */

form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
   /* height: 2.5rem;*/
    width: 80%;
}

.form__field, .form__btn{
    height: 2.5rem;
    font-weight: bold;
}

.form__ico{
    width: 2rem; /*A mesurer en flexbox */
    height: 2.5rem;
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: #F2F2F2;
    border: none;
}
.form__field{
    padding-left: 0.7rem;
    border: 1px solid #F2F2F2;
}

.form__btn{
    width: 6rem;
    color: #FFFFFF;
    background-color: #0065FC;
    border: none; 
    border-radius: 0 0.5rem 0.5rem 0;
    
}

/* Filtres */

/* L'aspect des filtres n'ets pa encore le bon. Peut-être revoir le html */

.filtres{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.filtres h4{
    padding-top: 0.3rem;
}

.filtres ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    font-weight: bold;
    list-style-type: none;
}

.filtre__ico{
    padding: 0.6rem 0.9rem 0.6rem 0.9rem;
    margin-right: 0.5rem;
    background-color: #deebff;
    border: 1px solid #F2F2F2;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.filtre__critere{
    display: flex;
    align-items: center;
    margin: 0 2rem 1rem 0;
    padding: 0 1rem 0 0;
    border: 2px solid #d9d9d9;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.filtre__critere:hover{
    color: #FFFFFF;
    background-color: #0065FC;
    border-color: #FFFFFF;
}

/* Hébergement */

.hebergements h2{
    width: 100%;
}

.ensemble_cartes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

.carte{
    border-radius: 10%;
    box-shadow: 0.5rem 0.5rem 1rem 0.5rem #F2F2F2;
    width: 30%;
    padding: 0.3rem;
}

.carte a img{
    width: 100%;
    border-radius: 10%;
}

.carte a h2{
    font-size: 1rem;
}

/*
.carte-hebergement
.carte-populaire
.carte-activite
*/

/*footer*/
footer{
    padding: 2rem 1.5rem 2.5rem 1.5rem
}

footer h3{
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
}

footer ul{
    list-style-type: none;
    padding-left: 0%;
}

footer li{
    margin-bottom: 0.8rem;
}


footer div{
    margin-bottom: 30px;
}