@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf');
    src: url('fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}
/* Ne fonctionne pas */

body{
    font-family: 'Raleway', Verdana, Tahoma, sans-serif;
    font-size: 0.8rem;
}

#logo img{
    width: 6rem;
    height: auto; /* garde le ration lors du redimensionnement de l'image */
}

aside, footer{
    background-color:#F2F2F2 ;
}

nav ul{
    display: flex;
    list-style-type: none;
    font-size: 0.9rem;
    padding-left: 0%;
}

nav li{
    width: 45%;
    text-align: center;
}

nav a{
    display: block; /* Permet à la balise inline a de se comporter comme un block et notamment d'avoir des bordures */
    padding-bottom: 1rem;
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: #0065FC;
    border-bottom: 0.2rem solid #0065FC;
}

#inscription{
    text-decoration: none;
    color: black;
}


/* Recherche */

form{
    display: flex;
    height: auto;
    border: 0.1rem solid #F2F2F2;
    padding: 0rem;
}

form p{
    width: 2rem; /*A mesurer en flexbox */
 }

#ville, #rechercher, form p{
    border: 1px solid black;
    margin: 0rem;
    height: 2.5rem;
}

#rechercher{
    background-color: #0065FC;
    color: white;
}

#filtres ul {
    display: flex;
    flex-wrap: wrap;
}





/*footer*/
footer{
    padding: 2rem 1.5rem 2.5rem 1.5rem
}

footer h3{
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
}

footer ul{
    list-style-type: none;
    padding-left: 0%;
}

footer li{
    margin-bottom: 0.8rem;
}

footer a{
    text-decoration: none;
    color: black;
}

footer div{
    margin-bottom: 30px;
}