/*@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf');
    src: url('fonts/Raleway-VariableFont_wght.ttf') format('truetype');
}
*/

body{
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
}

a{
    text-decoration: none;
    color: black;
}

#logo img{
    width: 6rem;
    height: auto; /* garde le ration lors du redimensionnement de l'image */
}

aside, footer{
    background-color:#F2F2F2 ;
}

h2{
    font-weight: bold;
    font-size: 1.2rem;
}

.conteneur_head{
    display: flex;
    flex-wrap: wrap;
}
#logo{
    order: 1;
    width: 55%;
}

/* Pb chevauchement des liens */
nav{
    order: 2;
   width: 30%;
}
#inscription{
    order: 3;
    width: 10%;
}

nav ul{
    display: flex;
    list-style-type: none;
    font-size: 0.9rem;
    padding-left: 0%;
}

nav li{
    width: 50%;
    text-align: center;
}

nav a{
    display: block; /* Permet à la balise inline a de se comporter comme un block et notamment d'avoir des bordures */
    padding-bottom: 1rem;
    border-top: 0.2rem solid #FFFFFF;
    border-bottom: 0.2rem solid #FFFFFF;
}

nav a:hover{
    color: #0065FC;
    border-top: 0.2rem solid #0065FC;
}

#inscription{
    padding-top: 0.5em;
    margin-left: 1em;
}
#inscription a{
    color: #0065FC;
    font-weight: bold;
}

header h2{
    width: 90%;
}

/* revoir la condition */
@media screen and (max-width: 500px) {
    nav a{
        border-bottom: 0.2rem solid #F2F2F2;
    }
    
    nav a:hover{
        color: #0065FC;
        border-bottom: 0.2rem solid #0065FC;
        border-top: 0.2rem solid #FFFFFF;
    }

    #logo{
        order: 1;
        width: 70%;
    }
    nav{
        order: 3;
        width: 100%;
    }
    #inscription{
        order: 2;
        width: 25%;
    }
}

/* Recherche */

form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
   /* height: 2.5rem;*/
    width: 80%;
}

.form__field, .form__btn{
    height: 2.5rem;
    font-weight: bold;
}

/* Pb positionnement */
.form__ico{
    width: 2rem; /*A mesurer en flexbox */
    height: 2.5rem;
    border-radius: 0.5rem 0 0 0.5rem;
    background-color: #F2F2F2;
}
.form__field{
    padding-left: 0.7rem;
    border: 1px solid #F2F2F2;
}

.form__btn{
    width: 6rem;
    color: #FFFFFF;
    background-color: #0065FC;
    border: none; 
    border-radius: 0 0.5rem 0.5rem 0;
    
}

/* Filtres */

/* L'aspect des filtres n'est pas encore le bon. Peut-être revoir le html */

.filtres{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.filtres h4{
    padding-top: 0.3rem;
}

.filtres ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    font-weight: bold;
    list-style-type: none;
}

.filtre__ico{
    padding: 0.6rem 0.9rem 0.6rem 0.9rem;
    margin-right: 0.5rem;
    background-color: #deebff;
    border: 1px solid #F2F2F2;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.filtre__critere{
    display: flex;
    align-items: center;
    margin: 0 2rem 1rem 0;
    padding: 0 1rem 0 0;
    border: 2px solid #d9d9d9;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.filtre__critere:hover{
    color: #FFFFFF;
    background-color: #0065FC;
    border-color: #FFFFFF;
}

/* Hébergement */

#hebergements h2{
    width: 100%;
}

.ensemble-cartes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.carte{
    border-radius: 0.7rem;
    box-shadow: 0.5rem 0.5rem 1rem 0.5rem #F2F2F2;
    width: 30%;
    padding: 0.2rem;
}

.carte__img{
    width: 100%;
    height: 30%;
    overflow: hidden;
    border-radius: 0.7rem 0.7rem 0 0;
}

/* pb taille block et taille image */
#image {
    max-width: 100%;
    object-position: 0 -0.8rem;
}


.carte__infos h3{
    font-size: 0.8rem;
}   

.carte__infos{
    font-size: 0.7em;
    margin: 0 auto 0 0.3rem;
}

/*
.carte-hebergement
.carte-populaire
.carte-activite
*/

/* Activités */

#activites h2, #activites div{
    border: 1px solid black;
}

#activites{
    display: grid;
    grid-template: 2em 10em 10em 10em / 1fr 1fr 1fr 1fr;
    grid-gap: 1.5em
}

#activites h2{
    grid-column: 1 / -1;
}

#one{
    grid-row: 2 / 4;

}

#two{
    grid-row: 2 / 2;
}

#three{
    grid-row: 3 / 4;
}

#four{
    grid-row: 2 / 4;
}



/*footer*/
footer{
    padding: 1.5rem 1.5rem 0 1.5rem;
    display: flex;
}

footer h3{
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
}

footer div{
    min-width: 33%;
}

footer ul{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

footer li{
    margin-bottom: 0.8rem;
}


footer div{
    margin-bottom: 30px;
}

@media screen and (max-width: 500px) {
    footer{
        display: flex;
        flex-direction: column;
    }
}