/* ----- CSS de base ----- */

/* ------ Font-Size ------ */
body{
    font-size: 0.9rem;
    margin: 0;
}
h1, h2, .populaires__head .fas{
    font-size: 1.3rem;
}
.form__field{
    font-size: 1rem;
}
.filtres li, .carte__infos h3, .carte--activite h3, footer li{
    font-size: 0.9rem;
}
.nb-resultats data{
    font-size: 0.85rem;
}
.carte__infos{
    font-size: 0.8rem;
}
.etoiles{
    font-size: 0.75rem;
}
.fa-info{
    font-size: 0.7rem;
}
.carte--populaire .etoiles{
    font-size: 0.65rem;
}

/* ------ Général ------ */
body{
    background-color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
}
.container, .footer__conteneur{
    max-width: 1199px; /*Largeur d'écran max pour ordinateur moyen*/
    margin: auto;
}
.populaires, footer{
    background-color: #f2f2f2;
}
#hebergements h2, .populaires__head, #activites h2{
    margin: 0;
}
h1, h2{
    font-weight: bold;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style-type: none;
}
.fa-money-bill-wave{
    transform: scaleY(1.3);
}
.fa-heart{
    transform: scaleY(1.1);
}
.fa-dog{
    transform: scaleY(1.2);
}
.recherche{
    padding-top: 0;
    padding-bottom: 1.5rem;
}

/* ----- En-tête ----- */
.header__top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
}
#logo img{
    height: 2.8rem;
    width: auto; /* garde le ratio lors du redimensionnement de l'image */
}
nav ul{
    display: flex;
    padding-left: 0%;
}
nav a{
    display: block;
    border-top: 0.2rem solid #FFFFFF;
}
#inscription{
    margin-left: 1.2rem;
}
#inscription a{
    color: #0065FC;
    font-weight: bold;
    text-align: right;
}

/* ----- Recherhe ----- */

/* ----- Recherche - Formulaire ----- */
form{
    display: flex;
    align-items: center;
}

.form__ico{
    border-radius: 1rem 0 0 1rem;
    background-color: #F2F2F2;
    text-align: center;
}
.p__field{
    border: 1px solid #F2F2F2;
    border-right: none;
}
.form__field{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border: none;
    padding-left: 1rem;
    width: 100%;
}
.form__field:focus{
    outline: 1px solid #0065FC; /* Attention : il est nécessaire de maintenir l'outline du champs de saisie afin d'éviter certains problèmes d'accessibilité (personnes utilisant un clavier ou un screen reader). Il est préférable de le remplacer par une autre mise en forme plutôt que de l'enlever totalement. */
}
.form__btn{
    color: #FFFFFF;
    background-color: #0065FC;
    border: none;
}

/* ----- Recherche - Filtres ----- */
.filtres ul {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 0;
}
.filtre__ico{
    background-color: #deebff;
    border: 4px solid #deebff;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    color: #0065FC;
}
.filtres li{
    border: 2px solid #d9d9d9;
    border-left: none;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
}
.filtres li:hover{
    color: #FFFFFF;
    background-color: #0065FC;
    border-color: #0069fc;
}

/* ----- Recherche - Nombre de résultats obtenus ----- */
.nb-resultats{
    margin-top: 0.5rem;
}
.nb-resultats data{
    display: block;
    padding-top: 0.4rem;
}
.fa-info{
    color: #0065FC;
    padding: 0.275rem 0.2rem 0.275rem 0.2rem;
    margin-right: 0.5rem;
    margin-top: 0.2rem;
    float: left;
    border: 1px solid #d9d9d9;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;  
}

/* ----- Mise en forme d'une carte par défaut (= carte hébergement résultat) ------ */
.carte{
    display: block;
    height: auto;
    border: 1px solid #F2F2F2;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem #e4e4e4;
    padding: 0.3rem;
    background-color: #FFFFFF;
}
.carte__img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.8rem 0.8rem 0 0;
}
.carte__infos{
    margin-left: 0.6rem;
}
.carte__infos h3,.carte__infos p{
    margin-top: 0.35rem;
    margin-bottom: 0.35rem;
}
.carte-prix, .carte-devise{
    font-weight: bold;
    font-style: normal;
}
.etoiles{
    letter-spacing: 0.075rem;
}
.star--couleur{
    color: #0065FC;
}
.star--estompe{
    color: #d9d9d9;
}

/* ----- Mise en forme d'une carte pour hébergement populaire ----- */
.carte--populaire{
    display: flex;
}
.carte--populaire .carte__img{
    border-radius: 0.8rem 0 0 0.8rem;
}
.carte--populaire .carte__infos{
    display: flex;
    flex-direction: column;
    align-content: stretch;
}
.carte--populaire h3, .carte--populaire .tarif, .carte--populaire .etoiles{
    margin: 0;
}
.carte--populaire h3{
    padding-top: 0.6rem;
    padding-bottom: 0.5rem;
}
.carte--populaire .tarif{
    flex: 1;
}
.carte--populaire .etoiles{
    padding-bottom: 0.5rem;
    letter-spacing: 0.075rem;
}

/* ----- Résultats de la recherche ----- */
.resultats{
    display: flex;
}
.populaires__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.populaires h2, .populaires__head .fas{
    margin:0;
}
.plus{
    font-weight: bold;
}

/* ----- Mise en forme d'une carte d'activité ----- */
.carte--activite{
    padding: 0;
    margin-top: 1.25rem;
    border: none;
}
.carte__img{
    margin-top: -0.1rem;
   /* margin-left: -0.025rem;*/
    width: 100%
}
.carte--activite h3{
    padding-left: 1rem;
    padding-top: 0.1rem;
}

/* ----- Activités ----- */
/* ----- Pied-de-page ----- */
footer{
    padding-top: 2.9rem;
    padding-bottom: 0.125rem;
}
footer h3{
    font-weight: bold;
    margin-bottom: 0.75rem;
    margin-top: 0;
}
footer ul{
    list-style-type: none;
    padding-left: 0;
}
footer li{
    line-height: 1.8rem;
}


/* ----- MEDIA QUERIES ----- */

@media screen and (max-width: 767px){ /* Largeur d'écran strictement inférieure à 768px : Breakpoint Mobile => Maquette Mobile */

    /* ----- Général ----- */
    /* ----- En-tête ----- */
    .header__top{
        margin-top: 1.75rem;
    }
    #logo{
        order: 1;
        min-width: 65%;
    }
    nav{
        order: 3;
        flex: 3;
        margin: auto -1.2rem auto -1.2rem;
    }
    nav li{
        width: 50%;
        text-align: center;
    }
    nav a{
        border-bottom: 0.2rem solid #f2f2f2;
        padding-bottom: 0.8rem;
    }
    nav a:hover{
        color: #0065FC;
        border-bottom: 0.2rem solid #0065FC;
    }
    #inscription{
        order: 2;
        width: 25%;
        padding-top: 0.25rem;
    }
    /* ----- Recherche - Formulaire ----- */
    .p__field{
        width: 100%;
    }
    /* ----- Recherche - Filtres ----- */
    .filtres h4{
        margin-bottom: 0;
    }
    /* ----- Recherche - Nombre de résultats obtenus ----- */
    /* ----- Mise en forme d'une carte par défaut ----- */
    .carte__img{
        height: 6.6rem;
    }
    /* ----- Mise en forme d'une carte pour hébergement populaire ----- */
    .carte--populaire .carte__img{
        width: 38%;
        height: 8rem;
    }
    .carte--populaire .carte__infos{
        margin-left: 7%;
        width: 54%;
    }
    .carte--populaire .carte__infos .tarif{
        white-space: nowrap;
    }
    /* ----- Résultats de la recherche ----- */
    .resultats{
        flex-flow: wrap column;
    }
    #hebergements{
        order: 2;
    }
    .populaires{
        order: 1;
    }
   .hebergements__conteneur{
        display: flex;
        flex-direction: column;
        row-gap: 0.8rem;
    }
    .populaires__conteneur{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        row-gap: 0.8rem;
    }
    /* ----- Mise en forme d'une carte activité ----- */
    .carte--activite{
        height: 11rem;
        padding-bottom: 0;
    }
    .carte--activite .carte__img{
        height: 71%;
    }
    /* ----- Activités ----- */
    #activites{
        margin-bottom: 3rem;
    }
    .activites__conteneur{
        display: flex;
        flex-direction: column;
        row-gap: 0.2rem;
    }
    /* ----- Pied-de-page ----- */
    footer div{
        margin-bottom: 2rem;
    }
    footer ul{
        margin-bottom: 1rem;
    }
    .nos_hebergements{
        margin-bottom: 2.5rem;
    }
}


@media screen and (min-width: 768px){ /* Largeur d'écran comprise entre 768px et 1024px => Version Tablette */

    /* ----- Général ----- */
    header, form{
        padding-left: 0.375rem;
    }
    /* ----- En-tête ----- */
    #logo{
        flex: 1;
        padding-top: 2rem;
    }
    .header__top{
        margin-bottom: 2rem;
        padding-right: 1.625rem;
    }
    nav{
        order: 2;
        margin: 0 -1.2rem 0 -1.2rem;
    }
    nav ul{
        justify-content: space-around;
        margin-top: 0;
    }
    nav a{
        border-bottom: 0.2rem solid #FFFFFF;
        padding-top: 3rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        margin-right: 1.1rem;
    }
    nav a:hover{
        color: #0065FC;
        border-top: 0.2rem solid #0065FC;
    }
    #inscription{
        order: 3;
        padding-top: 3rem;
        margin-top: 0;
    }
    /* ----- Recherche - Formulaire ----- */
    /* ----- Recherche - Filtres ----- */
    .filtres{
        padding-left: 0.875rem;
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }
    .filtres h4{
        margin-right: 2rem;
    }
    
    /* ----- Recherche - Nombre de résultats obtenus ----- */
    .nb-resultats{
        padding-left: 0.625rem;
    }
    /* ----- Mise en forme d'une carte hebergement resultat -----*/
    /* ----- Mise en forme d'une carte pour hébergement populaire ----- */
    /* ----- Résultats de la recherche ----- */
    /* ----- Activités ----- */
    /* ----- Pied-de-page ----- */
    .footer__conteneur{
        margin: auto;
        display: flex;
    }
    footer div{
        min-width: 33%;
        margin-bottom: 2.125rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){

    /* ----- Général ----- */
    /* ----- En-tête ----- */
    /* ----- Recherhe ----- */
    /* ----- Recherche - Formulaire -----*/
    .p__field{
        width: 50%;
    }
    /* ----- Recherche - Filtres ----- */
    /* ----- Recherche - Nombre de résultats obtenus ----- */
    /* ----- Mise en forme d'une carte hebergement résultat ----- */
    .carte--hebergement{
        width: 30%;
    }
    .carte--hebergement .carte__img{
        height: 7rem; 
    }
    /* ----- Mise en forme d'une carte pour hébergement populaire ----- */
    .carte--populaire{
        width: 31%;
    }
    .carte--populaire .carte__img{
        width: 35%;
        height: 6.5rem; 
    }
    .carte--populaire h3{
        height: 1.5rem;
        padding-top: 0.4rem;
        padding-bottom: 1rem;
    }
    .carte--populaire .carte__infos{
        width: 8rem;
        margin-left: 0.5rem;
        margin-right: 0.2rem;
    }
    /* ----- Résultats de la recherche ----- */
    .resultats{
            flex-flow: wrap column;
            justify-content: flex-start;
    }
    #hebergements{
        order: 2;
    }
    .hebergements__conteneur{
        display: flex;
        flex-flow: wrap row;
        justify-content: space-around;
        gap: 1rem;
    }
    .populaires{
        order: 1;
    }
    .populaires__conteneur{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0.5rem;
    }
    /* ----- Mise en forme d'une carte activité ----- */
    .carte--activite h3{
        line-height: 1.3rem;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        text-align: center;
    }
    .carte--activite .carte__img{
        border: none;
        height: 50%;
        flex: 1;
    }
    /* ----- Activités ----- */
    .activites__conteneur{
        margin: 1.8rem 0 3rem 0;
    }
    .activites__conteneur .carte--activite{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100.5%;
        height: 100%;
        margin: 0;
    }
    .activites__conteneur{
        display: grid;
        grid-template: repeat(10, 1em) / repeat(4, 1fr);
        grid-gap: 1.5rem;
    }
    #one{
        grid-row: 1 / 11;
    }
    #two{
        grid-row: 1 / 7;
    }
    #three{
        grid-row: 7 / 11;
    }
    #four{
        grid-row: 1 / 11;
    }
    #five{
        grid-row: 1 / 6;
    }
    #six{
        grid-row: 6 / 11;
    }
    /* ----- Pied-de-page ----- */
}


@media screen and (max-width: 1023px){

    /* ----- Font-Size ---- */
    .fa-child{
        font-size: 1.1rem;
    }
    .form__ico, .fa-heart, .fa-dog{
        font-size: 1rem;
    }
    .fa-money-bill-wave{
        font-size: 0.9rem;
    }
    /* ----- Général ----- */
    .container{
        padding: 0;
    }
    header, .recherche, #hebergements, .populaires, #activites, .footer__conteneur{
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
    /* ----- En-tête ----- */
    /* ----- Recherhe ----- */
    /* ----- Recherche - Formulaire -----*/
    .form__ico{
        width: 4rem;
        height: 2.15rem;
        padding-top: 1rem;
    }
    .form__field{
        padding-right: 2rem;
        height: 3rem;
    }
    /*.form__field, .form__btn{
        height: 3rem;3
    }*/
    .form__btn{
        width: 3.25rem;
        height: 3.13rem;
        border-radius: 1rem;
        margin-top: 0px;
        margin-left: -1.9rem;
        padding-top: 0.3rem;
    }
    #textsearch{
        display: none;
    }
    /* ----- Recherche - Filtres ----- */
    .filtre__ico{
       /* padding: 0.8rem 0.55rem 0.65rem 0.55rem;*/
        margin-left: -1rem;
        margin-right: 0.6rem;
    }
    #ico-money{
        padding: 0.775rem 0.7rem 0.65rem 0.7rem
       /* padding: 0.4rem 0.425rem 0.4rem 0.425rem*/
    }
    #ico-child{
        padding: 0.9rem 0.575rem 0.55rem 0.575rem
       /* padding: 0.45rem 0.325rem 0.35rem 0.325rem*/
    }
    #ico-heart{
        padding: 0.8rem 0.65rem 0.65rem 0.65rem
        /*padding: 0.4rem 0.375rem 0.4rem 0.375rem*/
    }
    #ico-dog{
        padding: 0.8rem 0.65rem 0.65rem 0.65rem
       /* padding: 0.4rem 0.4rem 0.4rem 0.4rem*/
    }
    .filtres li{
        height: 1.55rem;
        padding: 0.925rem 1rem 0.275rem 0.95rem;
        margin: 0 0.7rem 0.8rem 0;
    }
    /* ----- Recherche - Nombre de résultats obtenus ----- */
    /* ----- Mise en forme d'une carte hébergement résultat ----- */
    /* ----- Mise en forme d'une carte pour hébergement populaire ----- */
    /* ----- Résultats de la recherche ----- */
    #hebergements, .populaires, #activites{
        padding-top: 2.4rem;
    }
    .hebergements__conteneur{
        margin: 1.25rem 0rem 2rem 0rem;
    }
    .populaires__conteneur{
        margin: 1.5rem 0rem 2.25rem 0rem;
    }
    .plus{
        margin-bottom: 0.6rem;
    }
    /* ----- Activités ----- */
    /* ----- Pied-de-page ----- */
}


@media screen and (min-width: 1024px){ /* Largeur d'écran supérieure ou égale à 1024px : Breakpoint Ordinateur => Maquette Desktop */

    /* ----- Font-Size ----- */
    h1, h2, .populaires__head .fas{
        font-size: 1rem;
    }
    .form__ico, .fa-child{
        font-size: 0.9rem;
    }
    body, .filtres h4, .filtres li, .form__field, .form__btn{
        font-size: 0.8rem;
    }
    .slogan p, .nb-resultats data, .fa-heart, .fa-dog, .plus, footer li{
        font-size: 0.8rem;
    }
    .fa-money-bill-wave, .carte__infos h3, .fa-info, .carte--activite h3{
        font-size: 0.7rem;
    }
    .carte__infos{
        font-size: 0.65rem;
    }
    .etoiles{
        font-size: 0.55rem;
    }
    .carte--populaire .etoiles{
        font-size: 0.5rem;
    }
    /* ----- Général ----- */
    .container{
        padding: 0 2.75rem 0 2.75rem;
        margin: auto;
    }
    #hebergements, .populaires, #activites{
        padding-top: 1.875rem;
    }
    footer{
        padding-left: 2.75rem;
        padding-right: 2.75rem;
    }
    /* ----- En-tête ----- */
    #logo img{
        height: 2.2rem;
    }
    .slogan p{
        margin-bottom: 0.8rem;
    }
    /* ----- Recherche - Formulaire ----- */
    .form__ico{
        width: 2.5rem;
        height: 1.68rem;
        padding-top: 0.8rem;
        padding-bottom: 0.2rem;
        padding-left: 0.1rem;
    }
    .p__field{
        width: 11.5rem;
        height: 2.5rem;
    }
    .form__field{
        height: 2.5rem;
    }
    #icosearch{
        display: none;
    }
    .form__btn{
        width: 6.5rem;
        height: 2.65rem;
        font-weight: bold;
        border-radius: 0 1rem 1rem 0;
    }
    /* ----- Recherche - Filtres ----- */
    .filtre__ico{
        margin-left: -1.05rem;
        margin-right: 0.6rem;
        width: 4rem;
    }
    #ico-money{
        padding: 0.4rem 0.425rem 0.4rem 0.425rem
    }
    #ico-child{
        padding: 0.45rem 0.325rem 0.35rem 0.325rem
    }
    #ico-heart{
        padding: 0.4rem 0.375rem 0.4rem 0.375rem
    }
    #ico-dog{
        padding: 0.4rem 0.4rem 0.4rem 0.4rem
    }
    .filtres li{
        height: 1rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        margin-right: 0.9rem;
    }
    /* ----- Recherche - Nombre de résultats obtenus ----- */
    /* ----- Mise en forme d'une carte hébergement résultat ------ */
    #hebergements .carte{
        width: 28.5%;
    }
    #hebergements .carte__img{
        height: 5rem;
    }
    /* ------ Mise en forme d'une carte pour hébergement populaire ------ */
    .carte--populaire .carte__img{
        width: 5.7rem;  
        height: 6.1rem;
    }
    .carte--populaire h3{
        padding-bottom: 0.3rem;
    }
    .carte--populaire .carte__infos{
        width: 7rem;
        margin-left: 0.8rem;
    }
    .carte--populaire .carte__infos .tarif{
        white-space: nowrap;
    }
    /* ----- Résultats de la recherche ----- */
    .resultats{
        flex-direction: row;
        align-items: stretch;
    }
    #hebergements, .populaires{
        border-radius: 1rem; 
    }
    #hebergements{
        order: 1;
        background-color: #F2F2F2;
        padding-left: 1.8rem;
        padding-right: 1.8rem;
        padding-bottom: 1.875rem;
        margin-left: 0;
    }
    .populaires{
        order: 2;
        width: 25%;
        margin-left: 2rem;
        margin-right: 0;
        padding-left: 1.55rem;
        padding-right: 1.8rem;
    }
    .hebergements__conteneur{
        margin-top: 1.375rem;
        display: flex;
        flex-flow: wrap row;
        gap: 1.25rem;
    }
    .populaires__conteneur{
        padding-top: 0;
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
    }
    .hebergements__conteneur .carte{
        width: 12rem;
    }
    .plus{
        margin-top: 2.5rem;
        margin-bottom: 0;
    }
    /* ----- Mise en forme d'une carte activité ----- */
    .carte--activite{
        padding: 0;
        margin-top: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100.5%;
        height: 100%;
        margin: 0;
    }
    .carte--activite h3{
        line-height: 1.3rem;
        margin-left: 1rem;
        margin-right: auto;
        padding-left: 0;
    }
    .carte--activite img{
        border: none;
        height: 50%;
        flex: 1;
    }
    /* ----- Activités ----- */
    #activites{
        margin-top: 1rem;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 3rem;
    }
    .activites__conteneur{
        margin-top: 1.5rem;
        display: grid;
        grid-template: repeat(10, 0.8em) / repeat(4, 1fr);
        grid-gap: 2rem;
    }
    #one{
        grid-row: 1 / 11;
    }
    #two{
        grid-row: 1 / 7;
    }
    #three{
        grid-row: 7 / 11;
    }
    #four{
        grid-row: 1 / 11;
    }
    #five{
        grid-row: 1 / 6;
    }
    #six{
        grid-row: 6 / 11;
    }
    /* ----- Pied-de-page ----- */
}
