body{
    background-color: #FFFFFF;
}
.container{
    font-family: 'Raleway', sans-serif;
}
@media screen and (min-width: 992px){
    .container{
        font-size: 0.8rem; /*A verif */
        padding-left: 3.125rem;
        padding-right: 3.125rem;
        margin: auto;
        max-width: 1199px; /*Largeur d'écran max pour ordinateur moyen*/
    }
}

.populaires, footer{
    background-color: #f2f2f2;
}

h1, h2{
    font-weight: bold;
}

#hebergements h2, .populaires__head, #activites h2{
    margin: 0;
}

@media screen and (min-width: 768px){
    h1, h2{
        font-size: 1.1rem;
    }
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
}

/* En-tête */

.header__top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
}

#logo{
    order: 1;
}
@media screen and (min-width: 768px){
    #logo{
        order: 1;
        flex: 1;
        padding-top: 2rem;
    }
}

#logo img{
    height: 2rem;
    width: auto; /* garde le ration lors du redimensionnement de l'image */
}

@media screen and (min-width: 768px){
    nav{
        order: 2;
        margin: 0 -1.2rem 0 -1.2rem;
    }
}

nav ul{
    display: flex;
    padding-left: 0;
}
@media screen and (min-width: 768px){
    nav ul{
        justify-content: space-around;
        margin-top: 0;
    }
}

nav a{
    display: block;
    border-top: 0.2rem solid #FFFFFF;
}
@media screen and (min-width: 768px){
    nav a{
        border-bottom: 0.2rem solid #FFFFFF;
        padding-top: 3rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        margin-right: 1.1rem;
    }
}

nav a:hover{
    color: #0065FC;
    border-top: 0.2rem solid #0065FC;
}

#inscription{
    margin-left: 1.2rem;
    margin-top: 0;
}
@media screen and (min-width: 768px){
    #inscription{
        order: 3;
        text-align: right;
        padding-top: 3rem;
    }
}

#inscription a{
    color: #0065FC;
    font-weight: bold;
}
@media screen and (min-width: 768px){
    #inscription a{
        color: #0065FC;
        font-weight: bold;
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }
}

/* Recherche - Formulaire */

form{
    display: flex;
    align-items: center;
}

.form__field, .form__btn{
    height: 2.9rem;
}

.form .fa{
    font-size: 1.125rem;
    }

.form__ico{
    width: 3.2rem;
    height: 2rem;
    border-radius: 1rem 0 0 1rem;
    background-color: #F2F2F2;
    text-align: center;
    padding-top: 0.92rem;
}

.form__field{
    font-size: 0.8rem;
    font-weight: bold;
    padding-left: 1.1rem;
    border: 1px solid #F2F2F2;
    border-right: none;
    width: 100%;
}

.form__field:focus{
    outline: 1px solid #0065FC;
}
/* Attention : Removing outlines in CSS creates issues for people navigating the web with a keyboard. */
/* Il faut le remplacer par un autre indicateur */

.form__btn{
    color: #FFFFFF;
    background-color: #0065FC;
    border: 1px solid #0065FC;
}

@media screen and (min-width: 768px){
    .p__field{
        width: 14.5rem;
    }
    #icosearch{
        display: none;
    }
    .form__btn{
        width: 8rem;
        font-weight: bold;
        border-radius: 0 1rem 1rem 0;
    }
}

/* Recherche - Filtres */

.filtres{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

@media screen and (min-width: 768px){
    .filtres h4{
        margin-right: 2rem;
    }
}

.filtres ul {
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    list-style-type: none;
    margin-left: 0;
    margin-bottom: 0;
}

.filtre-ico{
    padding: 0.5rem 0.3rem 0.5rem 0.3rem;
    margin: 0 0.7rem 0 -0.1rem;
    background-color: #deebff;
    border: 4px solid #deebff;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    color: #0065FC;
}

.filtres li{
    height: 1rem;
    padding: 0.6rem 0.8rem 0.6rem 0;
    margin: 0 1.5rem 1rem 0;
    border: 2px solid #d9d9d9;
    border-left: none;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.filtres li:hover{
    color: #FFFFFF;
    background-color: #0065FC;
    border-color: #0065FC;
}

/* Nombre de résultats obtenus */

.nb-resultats data{
    display: block;
    padding-top: 0.4rem;
}

.fa-info{
    padding: 0.4rem 0.3rem 0.4rem 0.3rem;
    margin-right: 0.5rem;
    margin-top: 0rem;
    float: left;
    border: 1px solid #F2F2F2;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    color: #0065FC;
}

/*Résultats de la recherche */

.resultats{
    display: flex;
}
@media screen and (min-width: 992px){
    #hebergements{
        order: 1;
        flex: 1;
       /* padding: 2.5rem;*/
        border-radius: 1.5rem;
        background-color: #F2F2F2;
    }
    .populaires{
        order: 2;
        width: 28%;
        margin-left: 2rem;
        /*padding: 2.5rem 2.25rem 2.5rem 2.25rem;*/
        border-radius: 1.5rem;
    }
    #hebergements, .populaires, #activites{
        padding-top: 2.875rem;
    }
}
@media screen and (min-width: 992px){
    #hebergements{
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-bottom: 2.875rem;
    } 
    .populaires{
        padding-left: 2.25rem;
        padding-right: 2.5rem;
        padding-bottom: 2.125rem;
    } 
    #activites{
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 3.75rem;
    } 
    .hebergements__conteneur{
        margin-top: 1.375rem;
    }
    .populaires__conteneur{
        margin-top: 1.5rem;
    }
    .activites__conteneur{
        margin-top: 1.75rem;
    }
}

.plus{
    font-size: 0.875rem;
    font-weight: bold;
}
@media screen and (min-width: 768px){
    .plus{
        margin-top: 2.625rem;
    }
}

.populaires__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires h2, .populaires__head .fas{
    margin: 0;
}

@media screen and (min-width: 992px){
    /* Hébergements trouvés */
    .hebergements__conteneur{
        display: flex;
        flex-flow: wrap row;
        justify-content: space-around;
    }
    .hebergements__conteneur .carte{
        width: 30%;
    }
}



/* Mise en forme d'une carte par défaut */

.carte{
    display: block;
    height: auto;
    border: 1px solid #F2F2F2;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.3rem 0.1rem #F2F2F2;
    padding: 0.3rem;
    background-color: #FFFFFF;
    /*margin-top: 0.5rem; 
    margin-bottom: 0.5rem;*/ /*mettre space between??? */
}

.carte__img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.8rem 0.8rem 0 0;
}
@media screen and (min-width: 992px){
    .carte__img{
        height: 7.125rem; /* !!!!Si problème de hauteur au niveau visuel, c'est cette hauteur qu'il faut changer */
    }
}

.carte__infos{
    margin-left: 1rem;
    font-size: 0.7rem;
}

.carte__infos h3{
    font-size: 0.75rem;
}

.carte__infos h3,.carte__infos p{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.carte-prix, .carte-devise{
    font-weight: bold;
    font-style: normal;
}

.star--blue{
    color: #0065FC;
}

.star--gray{
    color: #F2F2F2;
}

/* Mise en forme d'une carte pour hébergement populaire */

.carte--populaire{
    display: flex;
}

.carte--populaire .carte__img{
    border-radius: 0.8rem 0 0 0.8rem;
}
@media screen and (min-width: 992px){
    .carte--populaire .carte__img{
        width: 7.9rem;  
        height: 8.3rem;
    }
}

.carte--populaire .carte__infos{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    max-width: 8.3rem;
    margin: 0.5rem;
}
@media screen and (min-width: 992px){
    .carte--populaire .carte__infos{
        margin-left: 1.25rem;
    }
}

.carte--populaire h3, .carte--populaire .tarif, .carte--populaire .etoiles{
    margin: 0;
}

.carte--populaire h3{
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
}

.carte--populaire .tarif{
    flex: 1;
}

.carte--populaire .etoiles{
    padding-bottom: 0.2rem;
}

@media screen and (min-width: 768px) and (max-width: 992px){
    .resultats{
            flex-flow: wrap column;
            justify-content: flex-start;
    }
    #hebergements{
        order: 2;
    }
    .hebergements__conteneur{
        display: flex;
        flex-flow: wrap row;
        justify-content: space-around;
    }
    .hebergements__conteneur .carte{
        width: 30%;
    }
    .carte__img{
        height: 7rem; /* !!!!Si problème de hauteur au niveau visuel, c'est cette hauteur qu'il faut changer */
    }
    .populaires{
        order: 1;
        padding: 1rem;
        border-radius: 1.5rem;
    }
    .populaires__conteneur{
        display: flex;
        justify-content: space-between;
    }
    .carte--populaire{
        width: 30%;
    }
    .carte--populaire .carte__img{
        width: 6rem;  
        height: 7rem;
    }
    .carte--populaire .carte__infos{
        margin-left: 1rem;
        max-width: 10rem;
        margin: 0.5rem;
    }
}

/*Mise en forme d'une carte d'activité */

.carte--activite{
    padding: 0;
    /*margin-top: 1.25rem;*/
}

.carte--activite h3{
    font-size: 0.8rem;
    padding-left: 1rem;
    margin-bottom: 1.25rem;
}

/* Activités */


@media screen and (min-width: 768px){
    .activites__conteneur .carte--activite{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100.5%;
        height: 100;
        margin: 0;
    }

    .carte--activite .carte__img{
        flex: 1;
    }

    .activites__conteneur{
        display: grid;
        grid-template: repeat(10, 1.5em) / repeat(4, 1fr);
        grid-gap: 1.5rem;
    }
    #one{
        grid-row: 1 / 11;
    }
    #two{
        grid-row: 1 / 7;
    }
    #three{
        grid-row: 7 / 11;
    }
    #four{
        grid-row: 1 / 11;
    }
    #five{
        grid-row: 1 / 6;
    }
    #six{
        grid-row: 6 / 11;
    }
}







/* Pied-de-page */

footer{
    padding-top: 3rem;
    margin-left: -1.2rem;
    margin-right: -1.2rem;
    /*padding: 1.5rem 1.5rem 0 1.5rem;*/
    display: flex;
}

footer h3{
    font-weight: bold;
    margin-bottom: 1.5rem;
}

footer div{
    min-width: 33%;
    margin: 0 1.875rem 1.875rem 1.875rem;
}

footer ul{
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

footer li{
    margin-bottom: 0.8rem;
}

@media screen and (min-width: 768px){
    footer{
        display: flex;
    }
}